 /* Style the header */

        .header {
            background-color: white;
            padding: 30px 40px;
            color: #E1172f;
            text-align: center;
        }

        /* Clear floats after the header */

        .header:after {
            content: "";
            display: table;
            clear: both;
        }

.gameHeader {
            background-color: #E1172F;
            padding: 30px 40px;
            color: white;
            text-align: center;
        }